{% load static %}

<div class="mt-3 pt-3">
    <div class="row">
        <div class="col-2">
            <div>
                <img src="{% static Image|default:'images/image.png' %}" class="middle-img d-block m-auto rounded-circle border-3 p-1" alt="Image here">
            </div>
        </div>

        <div class="col-8">
            <p class="mt-0">
                {{ answer.text|default:"Answer default description" }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            {% include 'generic/rating_buttons.html' with rating=answer.rating %}
        </div>
        <div class="col-8">
            <input type="checkbox" {{ answer.is_correct|yesno:'checked,'}}>
            <span>Correct</span>
        </div>
    </div>
</div>