services:
  db:
    image: postgres:18
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    env_file:
      - .env
  
  redis:
    image: redis:alpine
    ports:
      - "127.0.0.1:6379:6379"

  # centrifugo:
  #   container_name: centrifugo
  #   image: centrifugo/centrifugo:v6
  #   volumes:
  #     - ./config.json:/centrifugo/config.json
  #   command: centrifugo -c config.json
  #   ports:
  #     - 127.0.0.1:8001:8000
  #   ulimits:
  #     nofile:
  #       soft: 65535
  #       hard: 65535

  nginx:
    image: nginx:1.29-alpine
    restart: unless-stopped
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./static:/app/static:ro
      - ./media:/app/media:ro
    ports:
      - "80:80"
    depends_on:
      - db
      - redis
      # - centrifugo
    

volumes:
  postgres_data: