services:
  db:
    image: postgres:18
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    env_file:
      - .env

  nginx:
    image: nginx:1.29-alpine
    restart: unless-stopped
    volumes:
      - ./nginx/nginx-cached.conf:/etc/nginx/conf.d/default.conf:ro
      - ./static:/app/static:ro
      - ./media:/app/media:ro
    ports:
      - "80:80"
    

volumes:
  postgres_data: