{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    
    <link rel="stylesheet" href="{% static 'css/terminal_teal.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    {% include 'generic/header.html' %}

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10">
                {% block content %}
                {% endblock %}
            </div>

            <div class="col-2 d-none d-md-block">
                <p class="fs-4 mb-3">
                    Popular Tags
                </p>

                <div>
                    <a href="/tag/Python">Python</a>
                    <a href="/tag/Django">Django</a>
                    <a href="/tag/Go">Go</a>
                    <a href="/tag/ML">ML</a>
                    <a href="/tag/Web">WEB</a>
                    <a href="/tag/Rust">Rust</a>
                </div>

                <p class="fs-4 my-3">
                    Best Members
                </p>

                <div>
                    <p>
                        <a href="/">Nisakoo</a>
                    </p>
                    <p>
                        <a href="/">Luka</a>
                    </p>
                    <p>
                        <a href="/">Danya</a>
                    </p>
                    <p>
                        <a href="/">Artem</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    {% include 'generic/footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>
</body>
</html>