{% load static %}

<header class="d-flex flex-wrap justify-content-center py-3 mb-5">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="{% url 'index' %}" class="fs-4 mb-2 mb-lg-0">
                Yet another...
            </a>

            <div class="search-container col-12 col-lg-6 mb-2 mx-lg-auto mb-lg-0 position-relative">
                <template id="search-hint-template">
                    <a class="d-block border-0 py-2 px-3 hint-result">Empty</a>
                </template>

                <input id="search-input" type="search" class="d-block w-100" placeholder="Поиск..." aria-label="Search">

                <div id="hints" class="hints-box mt-2 position-absolute w-100" 
                    style="display: none; z-index: 1000; max-height: 300px; overflow-y: auto;">

                    <a href="#" class="d-block border-0 py-2 px-3">
                        No results
                    </a>

                </div>
            </div>

            {% if user.is_authenticated %}
                <div class="d-flex">
                    <div>
                        <img src="{{ user.profile.avatar_url }}" alt="img" class="small-img border-3 p-1 me-3 rounded-circle">
                    </div>
                    <div>
                        <p class="mb-0">{{ user.username }}</p>


                        <a href="{% url 'settings' %}">Settings</a>
                        
                        <form action="{% url 'logout' %}?continue={{ request.path }}" method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="submit-link">Log Out</button>
                        </form>

                    </div>
                </div>
            {% else %}
                <div>
                    <a href="{% url 'login' %}" role="button" class="mx-2">Login</a>
                    <a href="{% url 'register' %}" role="button" class="">Register</a>
                </div>
            {% endif %}
        </div>
    </div>
</header>