<div class="text-center my-5">

    <a href="?page=1{% if query %}&query={{query}}{% endif %}" class="me-3 {{ page_obj.has_previous|yesno:',disabled' }}"><<</a>

    <a href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}{% if query %}&query={{query}}{% endif %}" class="{{ page_obj.has_previous|yesno:',disabled' }}"><</a>
    <a href="#" class="mx-1">{{ page_obj.number }}</a>
    <a href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}{% if query %}&query={{query}}{% endif %}" class="{{ page_obj.has_next|yesno:',disabled' }}">></a>

    <a href="?page={{ page_obj.paginator.num_pages }}{% if query %}&query={{query}}{% endif %}" class="ms-3 {{ page_obj.has_next|yesno:',disabled' }}">>></a>
</div>