<div class="d-flex flex-wrap align-items-center justify-content-around text-center" role="group" aria-label="Rating">
    <a href="#" role="button" class="d-flex col-12 col-lg-auto like-button align-items-center justify-content-center">
        <i class="bi bi-caret-up-fill"></i>
    </a>

    <div class="col-12 col-lg-auto">
        {{ Rating|default:0 }}
    </div>

    <a href="#" role="button" class="d-flex col-12 col-lg-auto like-button align-items-center justify-content-center">
        <i class="bi bi-caret-down-fill"></i>
    </a>
</div>