.small-img {
    width: 50px;
    height: 50px;
}

.middle-img {
    width: 80px;
    height: 80px;
}

.large-img {
    width: 100px;
    height: 100px;
}

.extra-large-img {
    width: 170px;
    height: 170px;
}

.like-button {
    width: 30px;
    height: 30px;
}

.like-button:hover {
    border-radius: 50%;
    background-color: #333;
}