.small-img {
    max-width: 50px;
    max-height: 50px;

    width: 50px;
    height: auto;
}

.middle-img {
    max-width: 80px;
    max-height: 80px;

    width: 80px;
    height: auto;
}

.large-img {
    max-width: 100px;
    max-height: 100px;

    width: 100px;
    height: auto;
}

.extra-large-img {
    max-width: 170px;
    max-height: 170px;

    width: 170px;
    height: auto;
}

.like-button {
    width: 30px;
    height: 30px;
}

.like-button:hover {
    border-radius: 50%;
    background-color: #333;
}