{% load static %}

<div class="border-top mt-3 pt-3">
    <div class="row">
        <div class="col-2">
            <div>
                <img src="{{ question.profile.avatar_url }}" class="middle-img d-block m-auto rounded-circle border-3 p-1" alt="Avatar">
            </div>
        </div>

        <div class="col-8">
            <a href="{{ question.url }}" class="d-block mb-3 fs-3">
                {{ question.title|default:"Title here" }}
            </a>
            <p>
                {{ question.text|default:"Question default description" }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            {% include 'generic/rating_buttons.html' with rating=question.rating %}
        </div>
        <div class="col-8">
            <a href="{{ question.url }}" class="me-5">
                Ответов ({{ question.answers_count }})
            </a>

            {% for tag in question.tags.all %}
                <mark>{{ tag }}</mark>
            {% endfor %}
        </div>
    </div>
</div>