{% extends 'generic/main.html' %}

{% load static %}

{% block title %}Question{% endblock %}

{% block content %}
<div class="row mb-5">
    <div class="col-3">
        <div class="mb-4">
            <img src="{{ question.profile.avatar_url }}"
                class="d-block large-img m-auto rounded-circle border-3 p-1" alt="Image here">
        </div>

        {% include 'generic/rating_buttons.html' with rating=question.rating %}
    </div>

    <div class="col-9">
        <p class="fs-2 mt-0">{{ question.title|default:"Question default title" }}</p>
        <p>
            {{ question.text|default:"Question default description" }}
        </p>

        <div>
            <span>Tags: </span>

            {% for tag in question.tags.all %}
                <mark>{{ tag }}</mark>
            {% endfor %}
        </div>
    </div>
</div>

<p class="fs-4 mt-5">
    Answers
</p>

{% for answer in question.answer_set.with_rating %}
    {% include 'answers/card.html' with answer=answer %}
{% endfor %}

<div class="mt-5">

    {% include 'generic/form_errors_list.html' with form=form %}

    <form method="post" class="col-12 col-lg-6 col-md-8">
        {% csrf_token %}

        {{ form.text }}
        <button type="submit" class="d-block">Answer</button>
    </form>
</div>


{% endblock %}