{% extends 'generic/base.html' %}

{% load static %}

{% block title %}Question{% endblock %}

{% block content %}
<div class="row mb-5">
    <div class="col-3">
        <div class="mb-4">
            <img src="{% static Image|default:'images/image.png' %}"
                class="d-block large-img m-auto rounded-circle border-3 p-1" alt="Image here">
        </div>

        {% include 'generic/rating_buttons.html' %}
    </div>

    <div class="col-9">
        <p class="fs-2 mt-0">{{ title|default:"Question default title" }}</p>
        <p>
            {{ description|default:"Question default description" }}
        </p>

        <div>
            <span>Tags: </span>

            {% for tag in Tags %}
            <mark>{{ tag }}</mark>
            {% endfor %}

            <mark>Python</mark>
            <mark>Django</mark>
            <mark>Hello</mark>
        </div>
    </div>
</div>

<p class="fs-4 mt-5">
    Answers
</p>

{% include 'answers/card.html' %}

<div class="mt-5">
    <form action="#" class="col-12 col-lg-6 col-md-8">
        <textarea name="" id="" placeholder="Your answer" class="w-100 mb-1"></textarea>
        <button type="submit">Answer</button>
    </form>
</div>


{% endblock %}