{% extends 'generic/main.html' %}

{% block title %}New Question{% endblock %}

{% block content %}
<p class="fs-1 mb-5">New Question</p>

{% include 'generic/form_errors_list.html' with form=form %}

<form method="post" class="mx-0 mx-md-5">
    {% csrf_token %}

    <div class="row mb-3">
        <div class="col-12 col-md-2 mb-1 mb-md-0">
            {{ form.title.label }}
        </div>

        <div class="col-12 col-md-10">
            {{ form.title }}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 col-md-2 mb-1 mb-md-0">
            {{ form.text.label }}
        </div>

        <div class="col-12 col-md-10">
            {{ form.text }}
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-12 col-md-2 mb-1 mb-md-0">
            {{ form.tags.label }}
        </div>

        <div class="col-12 col-md-10">
            {{ form.tags }}
        </div>
    </div>

    <button type="submit">ASK</button>
</form>

{% endblock %}