{% extends 'generic/base.html' %}

{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<p class="fs-2 mb-5">Log In</p>

<p class="text-danger fs-4 mb-5">Error placeholder</p>

<form action="#" class="mx-0 mx-md-5 mb-5" method="post" enctype="multipart/form-data">
    <div class="row mb-3">
        <div class="col-12 mb-2">
            Login
        </div>

        <div class="col-12 col-lg-6 col-md-8">
            <input type="text" class="w-100">
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-12 mb-2">
            Password
        </div>

        <div class="col-12 col-lg-6 col-md-8">
            <input type="password" class="w-100">
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-auto">
            <button type="submit">Log In</button>
        </div>

        <div class="d-flex col-12 col-md-auto align-items-center mt-2 mt-md-0">
            <a href="{% url 'register' %}">or create new account</a>
        </div>
    </div>
</form>


{% endblock %}