{% extends 'generic/main.html' %}

{% load static %}

{% block title %}Register{% endblock %}

{% block content %}

<p class="fs-2 mb-5">Register</p>

{% include 'generic/form_errors_list.html' with form=form %}

<form class="mx-0 mx-md-5" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="row mb-3">
        <div class="col-12 mb-2">
            {{ form.username.label }}
        </div>

        <div class="col-12 col-lg-6 col-md-8">
            {{ form.username }}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 mb-2">
            {{ form.email.label }}
        </div>

        <div class="col-12 col-lg-6 col-md-8">
            {{ form.email }}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 mb-2">
            {{ form.nickname.label }}
        </div>

        <div class="col-12 col-lg-6 col-md-8">
            {{ form.nickname }}
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-12 mb-2">
            {{ form.avatar.label }}
        </div>

        <div class="col-12 col-lg-6 col-md-8">
            {{ form.avatar }}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 mb-2">
            {{ form.password.label }}
        </div>

        <div class="col-12 col-lg-6 col-md-8">
            {{ form.password }}
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-12 mb-2">
            {{ form.repeat_password.label }}
        </div>

        <div class="col-12 col-lg-6 col-md-8">
            {{ form.repeat_password }}
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-auto">
            <button type="submit">Register</button>
        </div>

        <div class="d-flex col-12 col-md-auto align-items-center mt-2 mt-md-0">
            <a href="{% url 'login' %}">or log in</a>
        </div>
    </div>
</form>

{% endblock %}