{% extends 'generic/main.html' %}

{% load static %}

{% block title %}Settings{% endblock %}

{% block content %}

<p class="fs-1 mb-5">Settings: {{ user.username }}</p>

{% include 'generic/form_errors_list.html' with form=user_form %}
{% include 'generic/form_errors_list.html' with form=profile_form %}

<form class="mx-0 mx-md-5" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="row mb-3">
        <div class="col-12 mb-2">
            {{ user_form.username.label }}
        </div>

        <div class="col-12 col-lg-6 col-md-8">
            {{ user_form.username }}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 mb-2">
            {{ user_form.email.label }}
        </div>

        <div class="col-12 col-lg-6 col-md-8">
            {{ user_form.email }}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 mb-2">
            {{ profile_form.nickname.label }}
        </div>

        <div class="col-12 col-lg-6 col-md-8">
            {{ profile_form.nickname }}
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-12 mb-2">
            {{ profile_form.avatar.label }}
        </div>

        <div class="col-12 col-lg-6 col-md-8">
            <img src="{{ user.profile.avatar_url }}" alt="avatar" class="extra-large-img">
            {{ profile_form.avatar }}
        </div>
    </div>

    <button type="submit">Save</button>
</form>

{% endblock %}